{% extends "base.html" %}

{% block content %}

{% for title, ID, user, conntent in blog %}
<div>
  <h2> {{title}} by {{user}} </h2>
  <p> {{content}} </p>
</div>
{% endfor %}

{% for user, comment in comments %}
<div>
  <b> {{user}} </b>
  <p> {{comment}} </p>
</div>
{% endfor %}

<div>
  <form action="/comment" method = "POST" id="comment">
    <textarea class="comment" name="text" placeholder="AWESOME COMMENT" form="comment"></textarea>
    <br>
    <button type="submit" value={{BID}} name="BID"> Add Comment </button>
    <br>
    <button> <a href="/blog">Back to Blog</a> </button>
  </form>
</div>

{% endblock %}
