{% extends "base.html" %}

{% block bar %}
<li class="bar"><a href="/login">Log In </a></li>
{% endblock %}

{% block content %}
<div>
  <h2> Login Please: </h2>
  <form action="/login" method = "POST">
    <table>
      <tr><td>Username:</td><td> <input type="text" name="user" placeholder="JohnDoe123" class="log"></td></tr>
      <tr><td>Password:</td><td> <input type="password" name="pass" placeholder="Password123" class="log"></td></tr>
    </table>
    <input type="submit">
  </form>
<h2> One cannot log in just yet</h2>
</div>
{% endblock %}
